body {
    font-family: 'Archivo Narrow', sans-serif;
    line-height:1.2;
    display:block;
}
header{
    background-image: url(hawaii.webp);
    background-size: cover;
    height:480px;
    text-align: center;
}
.content{
    margin:auto;
    width:960px;
}
header h1{
    font-size:80px;
    margin-top:0;
    padding-top: 160px;
    padding-bottom:0px;
    margin-bottom:20px;
}
header h3{
    font-size: 30px;
    line-height:1.1px;
    padding-bottom: 140px;
    margin-top:0px;
}
#section1{
   /* padding-bottom: -40px;  */
   padding-top:13px;
   height: 708px;
   background-color:rgb(191, 217, 255);
   
}
#section1 h2{
    /* padding-top: 172px; */
    font-size: 40px;
    text-align:center;
}
#section1 p{
    line-height: 1.4em;
    margin-top: 35px;
    margin-bottom: -20px;
    /* margin-right:100px; */
    font-size: 18px;
    /* padding-right:10px; */
}
.maui-pic{
    float:right;
    margin: 1px 0 2rem 40px;
}
#section2 h2{
    font-size: 40px;
    text-align:center;
    line-height:0.6;
}
ul.grid {
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}
.flower {
    float: left;
    margin-top:11px;
}

ul.grid li {
    display: flex;
    width: 50%;
    margin: 1px  0 15px 0;
    float: left;
}
ul.grid #caption{
    line-height:1.4;
    margin: 10px 0 0 0;
}
.tile {
    margin-left: 12px;
    text-align: left;
    padding-right: 25px;
}
h4 {
    padding-top:12px;
    font-size: 20px;
    margin: 0px;
}
section#section2 {
    /* color:white; */
    padding-top:20px;
    background-color: rgb(93, 158, 255);
    padding-bottom: 580px;
    /* padding-top:20px; */
}
.tile p{
    font-size:18px;
}
#section3{
    background-color:rgb(40, 73, 134);
    color:white;
    margin-top:0px;
    margin-bottom:43px;
    padding-bottom:102px;
}
#text3{
    text-align: center;
    margin: 0 125px 0 125px;
    /* padding-top:12px; */
    font-size: 26px;
    line-height: 36px;
    padding-bottom:1px;
}
#section3 h2{
    font-size: 40px;
    padding-top:50px;
    padding-bottom:0px;
    text-align:center;
    line-height:0.65;
}
#footer{
    background-color:white,50%;
    padding-top: 0px;
    padding-bottom:0px;
}

#copyright {
    font-size:18px;
    margin-top:0;
}